---js
const layout = "pages/posts-page.njk";

const title = 'Archiv akcí • MŠ Korálek';
const description = 'Přehled proběhlých akcí MŠ Korálek v Libchavách. Fotoreporty, zprávy a zajímavosti z dění pro děti a rodiče.';
const permalink = '/akce/ms-koralek/';
  
const category = 'akce';

const pagination = { 
    data: 'collections.akce',
    size: 9999999,
    reverse: true,
    alias: 'posts',
    before: function (paginationData, fullData) {
      return paginationData.filter((d) => d.data.section === "MŠ Korálek");
    }
  };
  
const landing = {
  badge: 'Společné',
  heading: 'Akce',
  breadcrumbs: [
    { title: 'Domů', url: '/' },
    { title: 'Akce', url: '/akce' },
    { title: 'MŠ Korálek' }
  ],
  image: {
    url: '/assets/images/services/skola/landing.jpg',
    alt: 'Jazyková učebna'
  }
};

const contentOne = {
  topper: 'Akce',
  heading: 'Archiv akcí'
};
---